/**
 * VN Custom Menu Element Styles
 * Author: VN
 * Plugin URI: https://wpmasterynow.com/
 */

/* Container wrapper */
.vn-custom-menu-wrapper {
    position: relative;
    width: 100%;
}

/* Menu container */
.vn-custom-menu {
    position: relative;
    display: block;
}

/* Menu list */
.vn-menu-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
}

/* Menu items */
.vn-menu-list li {
    position: relative;
    margin: 0;
    padding: 0;
}

.vn-menu-list li a {
    display: block;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.3s ease;
}

.vn-menu-list li a:hover {
    opacity: 0.8;
}

/* Submenu styles */
.vn-menu-list .sub-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    list-style: none;
    margin: 0;
    padding: 0.5rem 0;
    z-index: 999;
}

.vn-menu-list li:hover > .sub-menu {
    display: block;
}

.vn-menu-list .sub-menu li {
    display: block;
    width: 100%;
}

.vn-menu-list .sub-menu li a {
    padding: 0.5rem 1rem;
    display: block;
    white-space: nowrap;
}

/* Responsive - Mobile */
@media screen and (max-width: 549px) {
    .hide-for-small {
        display: none !important;
    }
    
    .vn-menu-list {
        flex-direction: column;
        gap: 0.5rem;
    }
    
    .vn-menu-list .sub-menu {
        position: static;
        box-shadow: none;
        padding-left: 1rem;
    }
}

/* Responsive - Tablet */
@media screen and (min-width: 550px) and (max-width: 849px) {
    .hide-for-medium {
        display: none !important;
    }
}

/* Responsive - Desktop */
@media screen and (min-width: 850px) {
    .hide-for-large {
        display: none !important;
    }
}

/* Current menu item highlight */
.vn-menu-list .current-menu-item > a,
.vn-menu-list .current-menu-ancestor > a {
    font-weight: bold;
}

/* Menu item with children indicator */
.vn-menu-list .menu-item-has-children > a::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.5rem;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid currentColor;
    vertical-align: middle;
}
